body {
  background: #4d244e;
}
#add {
  height: 6vh;
  width: 12%;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #595260;
  text-shadow: 2px 2px 4px white;
  font-size: 1rem;
  margin-left: 700px;
  /* margin-top: 500px; */
}
#clear {
  height: 6vh;
  width: 12%;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 5px;
  background-color: #595260;
  text-shadow: 2px 2px 4px white;
  font-size: 1rem;
}
label {
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px 4px white;
  margin-left: 700px;
  margin-top: 500px;
}
input {
  height: 3vh;
  width: 15%;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  /* margin-top: 400px; */
}
li{
  width: 35%;
  border-radius: 10px;
  margin-top: 7px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 14px;
  transition: 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  user-select: none;
  margin-left: 600px;
  transition: all 0.5s ease;
}
para {
  font-size: 1.5rem;
  /* margin-left:50px; */
  padding-top: 10px;
}
para1 {
  margin-left: 10px;
  text-shadow: 2px 2px 4px white;
}
button {
  height: 3vh;
  font-weight: bold;
  background-color: #595260;
}
img {
  height: 5vh;
}
@media (max-width: 1607px) { */
  /* label {
    margin-left: px;
  } */
  #add {
    margin-left: 600px;
  }
  li {
    margin-left: 600px;
  }
}
@media (max-width: 1323px) {
  label {
    margin-left: 400px;
  }
  #add {
    margin-left: 400px;
  }
  li {
    margin-left: 350px;
  }
}
@media (max-width: 1177px) {
  label {
    margin-left: 400px;
  }
  #add {
    margin-left: 400px;
  }
  li {
    margin-left: 300px;
  }
}
@media (max-width: 993px) {
  label {
    margin-left: 300px;
  }
  #add {
    margin-left: 300px;
  }
  li {
    width: 40%;
    margin-left: 250px;
  }
  input {
    width: 20%;
  }
}
@media (max-width: 834px) {
  label {
    margin-left: 250px;
  }
  #add {
    margin-left: 250px;
    width: 13%;
  }
  li {
    width: 50%;
    margin-left: 200px;
  }
}
@media (max-width: 829px) {
  label {
    margin-left: 250px;
  }
  #add {
    margin-left: 250px;
    width: 15%;
  }
  #clear {
    width: 15%;
  }
  li {
    margin-left: 130px;
  }
  input {
    width: 22%;
  }
}
@media (max-width: 679px) {
  label {
    margin-left: 200px;
  }
  #add {
    margin-left: 200px;
    width: 15%;
  }
  #clear {
    width: 15%;
  }
  li{
    margin-left: 100px;
  }
}
@media (max-width: 667px) {
  label {
    margin-left: 150px;
  }
  #add {
    margin-left: 150px;
    width: 15%;
  }
  #clear {
    width: 15%;
  }
  /* li{
    margin-top: 50px;
  } */
}
@media (max-width: 665px) {
  label {
    margin-left: 150px;
  }
  #add {
    margin-left: 150px;
    width: 17%;
  }
  #clear {
    width: 17%;
  }
  li {
    margin-left: 70px;
    width: 60%;
  }
}
@media (max-width: 578px) {
  label {
    margin-left: 150px;
  }
  #add {
    margin-left: 150px;
    width: 19%;
  }
  #clear {
    width: 19%;
  }
  li {
    margin-left: 70px;
   
  }
  input {
    width: 25%;
  }
}
@media (max-width: 529px) {
  label {
    margin-left: 130px;
  }
  #add {
    margin-left: 130px;
    width: 22%;
  }
  #clear {
    width: 22%;
  }
  li{
    margin-left: 60px;
  }
}
@media (max-width: 459px) {
  label {
    margin-left: 120px;
  }
  #add {
    margin-left: 120px;
    width: 23%;
  }
  #clear {
    width: 23%;
  }
  li{
    margin-left: 65px;
 
  }
}
@media (max-width: 439px) {
  label {
    margin-left: 120px;
  }
  #add {
    margin-left: 120px;
    width: 25%;
  }
  #clear {
    width: 25%;
  }
  li{
    margin-left: 60px;
   
  }
}
@media (max-width: 430px) {
  label {
    margin-left: 120px;
  }
  #add {
    margin-left: 120px;
    width: 25%;
  }
  #clear {
    width: 25%;
  }
  li {
    margin-left: 60px;
   
  }
}
@media (max-width: 400px) {
  #add {
    height: 7vh;
    width: 30%;
    margin-left: 70px;
  }
  #clear {
    height: 7vh;
    width: 30%;
    margin-left: 6px;
  }
  label {
    margin-left: 0px;
  }
  input {
    width: 190px;
  }
  li {
    margin-left: 0px;
    width: 100%;
    /* visibility: hidden; */
  }
}
@media (max-width: 366px) {
  #add {
    height: 7vh;
    width: 30%;
    margin-left: 0px;
  }
  #clear {
    height: 7vh;
    width: 30%;
    margin-left: 6px;
  }
  label {
    margin-left: 0px;
  }
  input {
    width: 190px;
  }
  li {
    margin-left: 0px;
    width: 100%;
    /* visibility: hidden; */
  }
}
@media (max-width: 340px) {
  #add {
    height: 7vh;
    width: 28%;
    margin-left: 0px;
    font-size: 0.9rem;
  }
  #clear {
    height: 7vh;
    width: 25%;
    margin-left: 6px;
    font-size: 0.9rem;
  }
  label {
    margin-left: 0px;
  }
  input {
    width: 190px;
  }
  li {
    margin-left: 0px;
    width: 100%;
  }
} 
